body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11pt;
}    
input
{
	border: 1px solid; 
	border-style: solid;
	border-width: 1px; 
	padding:2px;  
	border-radius: 2px;
} 
.btn
{
	border:1px solid; 
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px; 
	padding-top:0; 
	padding-bottom:0; 
	padding-left:4px;
	padding-right:4px;}
.gobutton
{
	border:0;
	border-color:"#F00";
	background-color:"#F00"
}
/* YouTube Responsive CSS for HubSpot */
.hs-responsive-embed-youtube {
position: relative;
padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
padding-top: 25px;
height: 0;
}
.hs-responsive-embed-youtube iframe {
position: absolute;
top: 0;
left: 0;
width: 100%!important;
height: 100%!important;
}
.box
{
	border-style: solid;
	border-width: 1px; 
	padding:6px;  border-radius: 5px;
	margin-right:10px;'
}
.commentbox
{
   height:24px;
	padding-top:0;
}
.top
{
	padding-top:0;
	vertical-align:top;
}
